body {
    background-image: url('../../../public/images/curtain.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #F47174;
}